<ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
              <ion-item  class="text-center mx-auto">
                <ion-img id="apodImg" [src]="apod.url" [alt]="apod.title"></ion-img>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-label>{{apod.title}}</ion-label>
              </ion-item>
            </ion-col>
        </ion-row>
      <ion-row class="ion-justify-content-center">
          <ion-button id="seeApodInHD">Voir en HD</ion-button>
      </ion-row>
</ion-grid>
