<ion-menu menuId="menu-ngst" side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-buttons slot="start">
        <ion-menu-button menu="myMenu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ titleApp }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><a href="/home" class="link">Accueil</a></ion-item>
      <ion-item><a href="/random" class="link">Récupérer une image au hasard</a></ion-item>
      <ion-item><a href="/apod-by-date" class="link">Astronomy picture by date</a></ion-item>
      <ion-item>Theuws Gabriel</ion-item>
      <ion-item>Magalhaes Thomas</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        {{ titleApp }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <div class="container">
      <ion-row class="ion-justify-content-center">
        <app-apod id="myApod" strategieToGetApod="random" [apod]="apod"></app-apod>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button id="randomAgain" (click)="injectRandomClick()" >Recevoir une image random</ion-button>
      </ion-row>
    </div>
  </ion-content>
</div>
