<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🚀 NGST 🚀
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">🚀 NGST 🚀 Full</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
            <ion-item>
              <ion-img [src]="apod.url"></ion-img>
              <ion-label>{{apod.title}}</ion-label>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
